@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
.as-sortable-item, .as-sortable-placeholder {
  display: inline-block;
  width: 124px;
  height: 110px;
  float: left;
  text-align: center;
}
.nav-pills{
  margin-bottom: 15px;
}
.as-sortable-item-handle {
  text-align: center;
  vertical-align: middle;
  color: #fff;
}

.as-sortable-item .square{
  padding-top: 5px;
}
.square, .square .as-sortable-item-handle {
  height: inherit;
  width: inherit;
  padding-bottom: 15px;
}
.square .as-sortable-item-handle{
  display: table;
  position: absolute;
}
.square .as-sortable-item-handle span{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.sortable-icon{
  color:#eee;
  margin-left: 5px;
}
.sortable-option{
  opacity: 0.4;
  color:#eee;
}
.item-placeholder {
  background: url("../img/ic_add_black_24dp_2x.png") no-repeat center;
  opacity: 0.2;
  width: 70px;
  border: 0px solid black;
}
#sortable-container {
  display: inline-block;
}
